# Import Packages

In [2]:
import pandas as pd
import numpy as np

# Load Raw Data

In [5]:
data_df = pd.read_csv('./MA 541 Course Project Data.csv')

In [7]:
data_df.shape

(1000, 4)

In [8]:
data_df.head()

   Close_ETF       oil      gold       JPM
0  97.349998  0.039242  0.004668  0.032258
1  97.750000  0.001953 -0.001366 -0.002948
2  99.160004 -0.031514 -0.007937  0.025724
3  99.650002  0.034552  0.014621  0.011819
4  99.260002  0.013619 -0.011419  0.000855